* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   
}

/* Header */
.wrapper{
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    color: white;
    position: relative;
    
}
.site-logo{
    font-family: 'Raleway';
    font-size: 40px;
    flex: 1;
    cursor: pointer;
}

header {
    padding: 0 116px 0 116px;
    align-items: center;
    
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    
}


.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content:space-between;
    padding-right: 50px;
    padding-top: 10px;
    
}

.item{
    font-size: 16px;
    font-family: 'Poppins'; 
    font-weight: 700;
    cursor: pointer;
}

.button1{
    background: #023047;
    height: 59px;
    width: 155px;
    border-radius: 24px;
    padding: 16px 32px 16px 32px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/* End header */



/* content section  */

.content-wrapper{
    display: flex;
    height: 100vh;
    
}
.section1{
    width: 45%;
}

.heading{
    padding: 100px 0px 0 116px;
    font-family: 'Raleway';
    font-size: 50px;
}

.paragraph{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    padding: 10px 0px 0px 116px;
    color: #FFFFFF;
}

.button2{
    height: 59px;
    width: 183px;
    left: 116px;
    top: 489px;
    border-radius: 24px;
    padding: 16px 32px 16px 32px;
    border: none;
    background: #DA722C;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    color:#FFFFFF;
    cursor: pointer;

}

.button-section{
    padding: 20px 1067px 0 116px;
}


.section2{
    width:10%;
    
}
.b1{
    padding: 160px 0 110px 60px ;
}

.box1{
    
    background-color: #FFFFFF;
    padding: 2px;
    margin: 20px;
    width: 206px;
    height: 90px;   
    border-radius: 24px;
    box-shadow: 5px 8px #6F7DFB ;
    position: absolute;
    bottom : 50%;
    right:50%;

}

.b2{
    padding: 0 70px 0 0 ;
}

.box2{
    
    background-color: #FFFFFF;
    padding: 3px;
    margin: 20px;
    width: 188px;
    height: 85px;
    border-radius: 24px;
    box-shadow: 5px 8px #6F7DFB ;
    position: absolute;
    bottom : 50%;
    right:50%;

}

.section3{
width:45%;

}

.image{
   padding-top: 34px;
    padding-left: 150px;
    
}

.box1-p{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    color: #023047;
    text-align: center;
}

.box1-para{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: #023047;
text-align: center;

}
/* End content section  */


/* second- wrapper  */

.second-wrapper{
    padding: 100px 115px 100px 115px;
    height: 100vh;
    display: flex;
    position: relative;
}

.s1{
    width: 40%;
}

.s2{
    width:60%;
}

.b1{
    height: 102px;
    width: 442px;
    border-radius: 24px;
    padding: 24px 32px 24px 32px;
    background-color: #6F7DFB;

}  

.b2{
    height: 120px;
    width: 442px;
    border-radius: 0px;
    padding: 0px 32px 0px 32px;
    background-color: #FFFFFF;
} 

.b3{
    height: 75px;
    width: 442px;
    border-radius: 24px;
    padding: 24px 32px 24px 32px;
    background-color: #DA722C;


}

.b4{
    height: 120px;
    width: 442px;
    border-radius: 0px;
    padding: 0px 32px 0px 32px;
    background-color: #FFFFFF;
} 

.para{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 900;
    color: #FFFFFF;

}

.name{
    padding-top: 10px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 900;
    color: #023047;
    text-align: left;
}

.detail{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #023047;

}

